MessageMap_XML_to_CSV/src/main/resources/xsd/Source XSD data.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Order">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ORDID" type="xs:unsignedShort" />
              <xs:element name="OrDat" type="xs:string" />
              <xs:element name="ReqDat" type="xs:string" />
              <xs:element name="CustId" type="xs:unsignedByte" />
              <xs:element name="MatId"  type="xs:string" />              
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="EmpId" type="xs:string" />
              <xs:element name="OrdQty" type="xs:unsignedShort" />
              <xs:element name="Unit" type="xs:string" />
              <xs:element name="Price" type="xs:unsignedShort" />
              <xs:element name="Currency" type="xs:string" />
              <xs:element name="CalYear" type="xs:unsignedShort" />
              <xs:element name="Status" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>